EVENT_URL=
POLL_SECONDS=60
CONCURRENCY=4
JSON_DIR=./json

# Storage policy settings
WRITE_POLICY=replace        # options: replace | snapshot | both
SNAPSHOT_ENABLE=false       # hard disable snapshots by default
SNAPSHOT_RETENTION_DAYS=7   # only used if snapshots are enabled
